body{
    font-family: monospace;
}

.btn_bw{
    display: inline-block;
    background: white;
    border: 2px solid black;
    padding: 10px 20px 10px 20px;
    text-align: center;
    cursor: pointer;
}

.btn_bw:hover{
    background: black;
    color:white;
}

.dynaBtn{
    display: block;
    width: fit-content;
    padding: 10px 20px 10px 20px;
    margin-top:10px;
    border:2px solid black;
    background:dodgerblue;
    color:rgb(21, 46, 66);
    transition-duration: 2s;
    cursor: pointer;
}

.dynaBtn:hover{
    background: white;
    color:black;
    transition: background-color 1s;
    transition: background-color;
    transition-duration: 0.3s;
}

.dynaBox{
    font-size: 16px;
    color:rgb(255, 255, 255);
    display: inline-block;
    background: #f0be62;
    padding:8px;
    margin:2px;
    width:50px;
    height:50px;
    transition-duration: 1s;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
}

.dynaBox:hover{
    background: rgb(248, 88, 149);
    transition: background-color 0.1s;
    transition: background-color;
    transition-duration: 0.1s;
    border-radius: 90px;
    transform: scale(0.8,0.8);
    color: rgb(24, 23, 23);
}